.left {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	flex-direction: column;
	height: 80vh;
}

.right {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	flex-direction: column;
	height: 80vh;
}